@using DüWEB.Models
@model List<Staff>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<a href="/AdminStaff/AddStaff" class="btn btn-primary">Yeni Personel Ekle</a>*@


<h1>Personeller</h1>

<a href="/AdminStaff/AddStaff"><input type="button" value="Yeni Personel Ekle">
    </a>
@foreach (var staff in Model)
{

    <div class="card-group mt-5">
        <div class="card mb-3 " style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/@staff.Profile" height="170" width="140" />
                </div>

 
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 id="Unvan">@staff.Degree</h4>
                        <h5>@staff.Name @staff.Surname</h5>
                        <a href="@staff.Link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg> @staff.Email
                        </a>
                        <a href="/AdminStaff/StaffUpdate/@staff.Id" style=" float:right;" class="btn btn-primary">Güncelle</a>
                        <br />
                        <br />
                        <a href="/AdminStaff/DeleteStaff/@staff.Id" style="float:right; padding-right:32px;padding-left:32px;" class="btn btn-danger">Sil</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

}